@import url('https://fonts.googleapis.com/css2?family=Afacad:ital,wght@0,400..700;1,400..700&display=swap');


.hero-section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-content: space-between;
    align-items: center;
    padding: 40px 0;
    height:500px;
    position: relative;
    gap: 20px;
}
.arrow{
    justify-self: center;
    align-self: center; 
    width:50px;
    height:50px;
    border-radius: 25px;
    border: none;
    cursor: pointer;
    transition: opacity 0.1s;
}
.arrow:hover{
    transform: scale(1.05);
    opacity: 70%;
}
.arrow:active{
    filter: brightness(0.9);
}
.arrow img{
    width: 20px;
}

.hero-content {
    flex: 1;
    width: 550px;
}

.hero-content h2 {
    font-family: "Afacad", sans-serif;
    font-size: 55px;
    font-weight: 900;
    margin: 0 0 15px 0;
    color: #1a1a1a;
}

.hero-content p {
    font-family: 'Lato', sans-serif;
    font-size: 1rem;
    color: #555;
    line-height: 1.6;
    margin-bottom: 25px;
}

.hero-image {
    position: relative;      /* Tạo stacking context */
    width: 300px;            /* chỉnh theo layout của bạn */
    height: 320px;
}

.banner-bg {
    position: absolute;
    top: -100px;
    right: -80px;            /* dịch sang phải cho giống ảnh bạn gửi */
    width: 320px;
    z-index: -1;              /* nằm dưới */
}

.banner-img {
    position: relative;
    width: 250px;
    z-index: 1;              /* nằm trên */
    transition: all 0.3s ease;
    cursor: pointer;
}
.banner-img:hover{
    transform: scale(1.15);
}
.banner-img:active{
    opacity: 0.6;
}

.read-more-btn {
    display: inline-block;
    text-decoration: none;
    line-height: 30px;
    color: #555;
    border: 1px solid #aaa;
    padding: 5px 15px;
    border-radius: 0;
    font-size: 15px;
    font-weight: 700;
    font-family: 'Lato', sans-serif;
    transition: all 0.3s ease;
}

.read-more-btn:hover {
    background-color: #333;
    color: #fff;
    border-color: #333;
}
.read-more-btn:active{
    opacity: 0.5;
}
.hero-content, .hero-image {
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.hero-content.active, .hero-image.active {
    opacity: 1;
}