.rising-authors-section {
    font-family: "Afacad", sans-serif;
  position: relative;
  width: 100%;
  height: 690px;
  margin: 0 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.rising-authors-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  z-index: 2;
  margin:0 0 ;
}
.rising-author-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 250px;
    transition: transform 0.3s ease;
    cursor: pointer;
    }

.rising-author-card:hover {
        transform: scale(1.1);
    }
.rising-card-header {
    position: absolute;
  width: 275px;
  text-align: center;
  background-color: #F4F2E6;
  font-weight: 700;
  font-size: 18px;
  padding: 10px 0;
  border-radius: 25px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.rising-card-body {
  width: 100%;
  height: 150px;
  background-color: #CEC5B7;
  border-radius: 10px;
  padding: 10px 12px;
  display: flex;
  
  gap: 10px;
  margin-top: 10px;
  box-shadow: 0 5px 10px rgba(0,0,0,0.1);
}

.rising-card-body img {
    padding-top:40px;
  width: 300px;
  height:80px;
  border-radius: 5px;
  object-fit: cover;
}


.lines{
  flex:1;
  font-size: 12px;
  width: 100%;
  height: 2px;
  margin: 4px 0;
  padding-top:40px;
}

.rising-background-title {
  text-decoration: none;
  bottom: 30px;
  font-size: 240px;
  font-weight: 700;
  color: #D7D5CE;
  z-index: 0;
  text-align: center;
  margin:0 0 ;
}
.s{
    background-color:#D7D5CE;
}