.listing-title-content{
    color: #6C98AC;
}
.rec-decoration{
    background-color: #E8ECEF;
}
.listed-element-card.element-card-1{
    background-color: #C1CED5;
}
.listed-element-card.element-card-2{
    background-color: #DAE9EA;
}
.listed-element-card.element-card-3{
    background-color: #e6f1f8;
}
.site-header {
    background-color: #E2EBED;
}