.listing-title-content{
    color: #AC6C6C;
}
.rec-decoration{
    background-color: #EFE8E8;
}
.listed-element-card.element-card-1{
    background-color: #e7c6c6;
}
.listed-element-card.element-card-2{
    background-color: #EADADA;
}
.listed-element-card.element-card-3{
    background-color: #F5E8E0;
}
.site-header {
    background-color: #EDE2E2;
}